.music-content-div {
    margin: 30px;
  }
  .music-content-h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  .music-content-prod-details {
    font-style:oblique;
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .image-container{
      height: 250px;
      width: 250px;
      overflow: hidden;
  }
  .prod-images {
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    transition: ease-in 0.5s;
    filter: brightness(100%);
  }
  .prod-images:hover{
    transform: scale(1.1);
    filter: brightness(130%);
  }
  .music-content-shop-item-button {
    cursor: pointer;
    padding: 8px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56ccf2;
  }
  #music-content .shop-item-button:hover,
  #merch-content .shop-item-button:hover {
    background: #0eabdf;
  }
  