.cart-row {
    font-size: 18px;
    display: flex;
}
.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}
.cart-img {
    width: 80px;
    margin-right: 20px;
    border-radius: 8%;
}
.cart-item {
    width: 45%;
}
.cart-price {
    width: 35%;
}
.cart-quantity {
    width: 25%;
}
.cart-total {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    margin: 20px;
}
.cart-total .total-title {
    margin-right: 10px;
    font-size: 1.5rem;
}
.cart-quantity button {
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    background: rgb(231, 76, 76);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 8%;
    outline: none;
    padding: 0px 7px;
}
.cart-quantity input {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 204, 255);
    border-image: initial;
    border-radius: 8%;
    outline: none;
}